.center {
    background-color: #EEE;
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    color: red;
    padding: auto;
    text-align: center;
    margin-top: 20%;
}

button {
    width: 20%;
}

input {
    width: 20%;
}