body {
    height: 100vh;
    margin: auto;
}

aside {
    width: 25%;
    height: calc(100vh - 180px);
    float: left;
    overflow: auto;
}

main {
    width: 75%;
    height: calc(100vh - 180px);
    float: left;
}

p {
    text-align: center;
}

button:hover {
    color: red;
}

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.container {
    position: relative;
    width: 50%;
}

#myDIV {
    border: 10px solid;
    border-color: black;
    margin: 10px;
    margin-top: -10px;
}