.center {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.matForm {
    display: flex;
    flex-direction: column;
}

.matForm>* {
    width: 300px;
}

.button {
    margin-left: 21.5%;
    width: 200px;
}